* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

/* Para navegadores webkit (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
  display: none;
}

/* Para Firefox */
body {
  scrollbar-width: none;
}

/* Para IE y Edge legacy */
body {
  -ms-overflow-style: none;
}
